{{- $scratch := newScratch }}
{{- /* https://developers.google.com/search/docs/advanced/structured-data/local-business */ -}}
{{- with .Site.Data.schema -}}
  {{- /* organisation schema */ -}}
  {{- $scratch.SetInMap "org" "@context" "https://schema.org" -}}
  {{- $scratch.SetInMap "org"  "@type" .type  -}}
  {{- $scratch.SetInMap "org" "url" site.BaseURL -}}
  {{- $scratch.SetInMap "org" "logo" (.logo | absURL ) -}}
  {{- $scratch.SetInMap "org" "name" site.Title -}}
  {{ with .images -}}
    {{- $images := slice -}}
    {{- range  . -}}
      {{ with $image := resources.GetMatch . }}
      {{ $images = $images | append $image.Permalink }}
      {{ end }}
    {{- end }}
    {{- $scratch.SetInMap "org" "image" $images  -}}
  {{ end -}}
  {{ with .social -}}
    {{ $socials := slice}}
    {{- range . -}}
    {{ $socials = $socials | append .url }}
    {{- end -}}
    {{- $scratch.SetInMap "org" "sameAs" $socials -}}
  {{ end -}}
  {{ with .postalAddress -}}
    {{- $scratch.SetInMap "address" "@type" "PostalAddress" -}}
    {{- with .streetAddress -}}
      {{- $scratch.SetInMap "address" "streetAddress" (delimit . ", ") -}}
    {{ end }}
    {{- with .addressLocality -}}
      {{- $scratch.SetInMap "address" "addressLocality" . -}}
    {{- end -}}
    {{- with .addressRegion -}}
      {{- $scratch.SetInMap "address" "addressRegion" . -}}
    {{- end -}}
    {{- with .postalCode -}}
      {{- $scratch.SetInMap "address" "postalCode" . -}}
    {{- end -}}
    {{- with .addressCountry | default "Australia" -}}
      {{- $scratch.SetInMap "address" "addressCountry" . -}}
    {{- end -}}
    {{- $scratch.SetInMap "org" "address" ($scratch.Get "address") -}}
  {{ end -}}
  {{ with .geo -}}
    {{ $geo := (dict 
      "@type" "GeoCoordinates"
      "latitude" .latitude
      "longitude" .longitude
      )}}
    {{- $scratch.SetInMap "org" "geo" $geo -}}
  {{ end -}}
  {{- with .telephone -}}
    {{- with (index . 0) -}}
      {{- $scratch.SetInMap "org" "telephone" .text -}}
    {{- end -}}
  {{ end -}}
  {{ with .email -}}
  {{- $scratch.SetInMap "org" "email" .text -}}
  {{ end -}}
  {{ with .priceRange -}}
    {{- $scratch.SetInMap "org" "priceRange" . -}}
  {{ end -}}
  {{ with .openingHoursSpecification.days -}}
    {{ range . -}}
      {{- if and (not .custom) (and .opens .closes) -}}
        {{- $day := (dict
          "@type" "OpeningHoursSpecification"
          "dayOfWeek" (slice .dayOfWeek)
          "opens" (time.Format "15:04" .opens)
          "closes" (time.Format "15:04" .closes) ) -}}
        {{- $scratch.Add "days" (slice $day) -}}
      {{- end -}}
    {{- end -}}
    {{- $scratch.SetInMap "org" "openingHoursSpecification" ($scratch.Get "days") -}}
  {{ end -}} 
  <script type="application/ld+json">
  {{ $scratch.Get "org" | jsonify (dict "indent" "  ") | safeJS }}
  </script>
{{ end -}}
{{- /* https://developers.google.com/search/docs/advanced/structured-data/breadcrumb#json-ld_1 */ -}}
{{ $scratch.Set "itemCount" 1 }}
{{ define "partials/inline/breadcrumbData" }}
  {{ $scratchCtx := .scratch}}
  {{ with .parent }}
    {{ partial "inline/breadcrumbData" (dict "scratch" $scratchCtx "parent" .Parent) }}
    {{- $scratchCtx.Add  "itemList" (slice (dict 
      "@type" "ListItem"
      "item" .Permalink 
      "name" (.Title | humanize | title )
      "position" ($scratchCtx.Get "itemCount")
    )) -}}
    {{ $scratchCtx.Add "itemCount" 1 }}
  {{ end }}
{{ end }}
{{ partial "inline/breadcrumbData" (dict "scratch" $scratch "parent" .Parent) }}
{{- $scratch.Add  "itemList" (slice (dict 
  "@type" "ListItem"
  "name" (.Title | humanize | title )
  "position" ($scratch.Get "itemCount")
)) -}}
{{- $scratch.SetInMap "breadcrumb" "@context" "https://schema.org" -}}
{{- $scratch.SetInMap "breadcrumb" "@type" "BreadcrumbList" -}}
{{- $scratch.SetInMap "breadcrumb" "itemListElement" ($scratch.Get "itemList") -}}
<script type="application/ld+json">
{{ $scratch.Get "breadcrumb" | jsonify (dict "indent" "  ")| safeJS }}
</script>