{{ define "main" }}
{{ with .Site.Data.prices }}
<div class="row">
  <div class="col">
    <div class="accordion" id="accordionPrices">
      {{ range  $index, $element := .prices  }}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{- $index -}}">
          <button class="accordion-button{{ if ne $index 0}} collapsed{{ end }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{- $index -}}" aria-expanded="{{ if eq $index 0}}true{{ else }}false{{end}}" aria-controls="collapse{{- $index -}}">
            {{ .title }}
          </button>
        </h2>
        <div id="collapse{{- $index -}}" class="accordion-collapse collapse{{ if eq $index 0 }} show{{end}}" aria-labelledby="heading-{{- $index -}}" data-bs-parent="#accordionPrices">
          <div class="accordion-body p-0">
            <table class="table mb-0">
              <!-- <thead>
                <tr>
                  <th scope="col">Treatment</th>
                  <th scope="col">Price</th>
                </tr>
              </thead> -->
              <tbody>
              {{ range .prices }}  
                <tr>
                  <td>{{ .title }}</td>
                  <td>   {{- $amount := "" -}}
                    {{- if eq (printf "%T" .amount) "int" -}}
                      {{- $amount = printf "$%.2f" (float .amount) -}}
                    {{- else if eq (printf "%T" .amount) "string" -}}
                      {{- $amount = .amount -}}
                    {{- end -}}
                    {{  $amount }}</td>
                </tr>
          {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
{{ end }}