{{ define "main" }}
{{ with .Site.Data.prices }}
<div class="row">
  <div class="col">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      {{ range  $index, $element := .prices  }}
      <li class="nav-item" role="presentation">
        <button class="nav-link {{ if eq $index 0 }}active{{ end }}" id="nav-{{- $index -}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{- $index -}}" type="button" role="tab" aria-controls="nav-{{- $index -}}" aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}">
          {{ .title }}
        </button>
      </li>
      {{ end }}
  
    </ul>
    <div class="tab-content" id="myTabContent">
      {{ range  $index, $element := .prices  }}
      <div class="tab-pane fade {{ if eq $index 0 }} show active{{ end }}" id="nav-{{- $index -}}" role="tabpanel" aria-labelledby="nav-{{- $index -}}-tab">
        <div class="row">
          <div class="col">
            <h3>{{ .title }}</h3>
          </div>
        </div>
    
        {{ range .prices }}  
          <div class="row">
            <div class="col-md-3">
              {{ .text }}
            </div>
            <div class="col-md-3 d-flex">
              {{ $amount := "" }}
              {{ if eq (printf "%T" .amount) "int" }}
                {{ $amount = printf "$%.2f" (float .amount) }}
              {{ else if eq (printf "%T" .amount) "string"}}
                {{ $amount = .amount }}
              {{ end }}
              <span class="ms-auto">{{  $amount }}</span>
            </div>
          </div>
        
        {{ end }}
      </div>  
    {{ end }}
    </div>
  </div>
</div>
{{ end }}
{{ end }}