<!doctype html>
<html lang="{{ .Lang }}" class="min-vh-100 no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ partial "head/index" . }}
  {{ block "head/json-ld" . }}{{ end }}
</head>
{{- partial "head/body-class" . -}}
{{- $bodyClass := delimit (.Scratch.Get "class") " " -}}

<body class="{{ $bodyClass }} d-flex flex-column min-vh-100">

  <!-- Google Tag Manager (noscript) -->

  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TM367T4" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>

  <!-- End Google Tag Manager (noscript) -->
  {{- if and .IsHome .Site.Params.alert -}}
  {{ partial "header/alert" . -}}
  {{- end -}}
  <header>
    {{ partial "header/index" . }}
  </header>
  <main>
    {{ if not .IsHome }}
    <div class="container py-3">
      <div class="row">
        <div class="col">
          {{ block "title" . }}<h1>{{ .Title | title }}</h1>{{ end }}
        </div>
      </div>
      {{ block "main" . }}{{ end }}
    </div>
    {{ else }}
    {{- /* home display - no container/row/col*/ -}}
    {{ block "main" . }}{{ end }}
    {{ end }}
  </main>


  <footer>
    {{ partial "footer/footer" . }}
  </footer>
  {{ partial "footer/script-footer" . }}
  {{ partial "footer/dev/grid" . }}
  {{ partial "footer/dev/debug-footer" . }}
</body>

</html>