{{ define "main" }}
<div class="row">
  <div class="col">
    {{ if gt (len .Pages) 1 }}
    {{ range $i, $e := .Pages -}}
    <article>
      <div class="card my-4 mx-3">
        <div class="row">
          <div class="col-md-4 {{ if modBool $i 2 }}order-md-last{{ end }}">
            <div class="card-img">
              {{ if .Params.images }}
              {{ $img := index .Params.images 0 }}
              {{ $dict := (dict "src" $img "page" . "title" .Title "widths" (slice 600 900)) }}
              {{ partial "image" $dict }}
              {{ end }}
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="card-title">
                <a href="{{ .RelPermalink }}" class="stretched-link text-decoration-none"><h2>{{ .Title | title }}</h2></a>
              </div>
              <div class="card-text">
                {{ .Summary }}
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </article>
    {{ end }}
    {{ else }}
      {{ with (index .Pages 0)}}
        {{ .Render "single-page" }}
      {{ end }}
    {{ end -}}


  </div>
</div>

   
    
   
    

{{ end }}
