{{ define "main" }}
<div class="row">
  <div class="col">
    {{ range $i, $e := .Pages -}}
    <article>
      <div class="card m-3">
        <div class="row">
          <div class="col-md-8">
            <div class="card-body">
              <div class="card-title">
                <a href="{{ .RelPermalink }}" class="stretched-link text-decoration-none"><h2>{{ .Title | title }}</h2></a>
              </div>
              <div class="card-text">
                {{ .Summary }}
              </div>
            </div>
          </div>
          <div class="col-md-4 {{ if modBool $i 2 }}order-md-first{{ end }}">
            <div class="card-img">
              {{ if .Params.images }}
              {{ $img := index .Params.images 0 }}
              {{ $dict := (dict "src" $img "page" . "title" .Title ) }}
              {{ partial "image" $dict }}
              {{ $tempImg := .Resources.GetMatch $img }}
              {{ $tempImg.RelPermalink }}
              <img src="{{ $tempImg.RelPermalink }}" alt="">
              {{ end }}
             
            </div>
          </div>
        </div>
      </div>
      
      
    </article>
    {{ end -}}


  </div>
</div>

   
    
   
    

{{ end }}
