{{ define "main" }}
<div class="pt-3">
  <div class="clearfix">

  
    {{ $index0 := index .Params.images 0}}
    <!-- {{ $imgDict := (dict
      "src" $index0
      "page" .
      "title" .Title
      "class" "img-fluid float-end"
      ) -}}
      {{ partial "image" $imgDict }} -->
      {{ $img := .Resources.GetMatch $index0 }}
      <div class="col-md-6 float-md-end">
        <img src="{{ $img.RelPermalink }}" alt="" class="float-md-end mb-3 ms-md-3 img-fluid">
      </div>
      
    {{ .Content }}   
  </div>
</div>

{{ end }}