<div class="footer container-fluid py-2 mt-3 text-dark">
  <div class="row">
    {{/*  contact details  */}}
    <div class="col-lg-3 col-sm-6 footer-links ">
      <h3>{{ .Site.Title }}</h3>
      {{ with .Site.Data.schema }}
        {{ with .postalAddress }}
          <p>
          {{ range .streetAddress }}
            {{ . }} <br>
          {{ end }}
          {{ .addressLocality }} <br>
          {{ .addressRegion }}, {{ .postalCode }}<br>
          </p>
        {{ end }}
        {{ if or .telephone .email }}
          <p>
          {{ with (index .telephone 0) }}
            <strong>Phone:</strong> <a href="{{ .url | safeURL }}">{{ .text }}</a><br>
          {{ end }}
          {{ with .email }}
            <strong>Email:</strong> <a href="{{ .url | safeURL }}">{{ .text }}</a><br>
          {{ end }}
          </p>
        {{ end }}
      {{ end }}
    </div>
    {{/* shop categories */}}
    {{ with site.Taxonomies.categories }}
    <div class="col-lg-3 col-sm-6 footer-links">
      <h4 class="">Shop Categories</h4>
      <ul class="list-unstyled">
        {{ range sort . "Page.Params.weight" }}
          <li>{{ partial "svg-font" (dict "src" "icons/box/bx-chevron-right" )}} 
            <a class="text-decoration-none"
              href="{{ .Page.RelPermalink }}">{{ .Page.Title | humanize | title }}</a>
          </li>
      {{ end }}
      </ul>
    </div>
    {{ end }}
    {{/*  site links pt1  */}}
    <div class="col-lg-3 col-sm-6 footer-links">
      <h4>Site Links</h4>
      <ul class="list-unstyled">
        {{ range .Site.Menus.footer }}
        <li>{{ partial "svg-font" (dict "src" "icons/box/bx-chevron-right" )}} <a href="{{ .URL }}"
            class="text-decoration-none">{{ .Name }}</a></li>
        {{ end -}}
      </ul>
    </div>
    {{/*  site links pt2 */}}
    <div class="col-lg-3 col-sm-6 footer-links">
      <h4 class="invisible">Site Links</h4>
      <ul class="list-unstyled">
        {{ range .Site.Menus.footer2 }}
        <li>{{ partial "svg-font" (dict "src" "icons/box/bx-chevron-right" )}} <a href="{{ .URL }}"
            class="text-decoration-none">{{ .Name }}</a></li>
        {{ end -}}
      </ul>
    </div>
    
  </div>
  <div class="row">
    <div class="col d-flex">
      <span class="mb-0">
        {{-  with .Site.Params.footer | markdownify -}}
        {{- . -}}
        {{- else -}}
        &copy; <span id="year"><noscript>{{ now.Format "2006"}}</noscript></span> &nbsp;{{ .Site.Copyright | default .Site.Title }}
        {{- end -}}
      </span>
      <span class="ms-auto">
        {{ partial "blocks/menu-social" (dict "fontClass" "text-white fs-3" "class" "me-2") }}
      </span>
    </div>
  </div>
</div>

