<div class="footer container-fluid pb-2 pt-3 mt-3 text-dark">  
  <div class="row">
    <div class="col d-flex">
      <span class="mb-0">
        {{-  with .Site.Params.footer | markdownify -}}
        {{- . -}}
        {{- else -}}
        &copy; <span id="year"><noscript>{{ now.Format "2006"}}</noscript></span> &nbsp;{{ .Site.Copyright | default .Site.Title }}
        {{- end -}}
      </span>
      <span class="ms-auto">
        {{/* partial "blocks/menu-social" (dict "fontClass" "text-white fs-3" "class" "me-2") */}}
        {{ partial "blocks/menu-social" (dict "class" "me-2 mb-2 text-primary" "fontClass" "fs-3" "em" 1) }}
      </span>
    </div>
  </div>
</div>

