{{ partial "esbuild" (dict "src" "js/vendor.js") -}}
{{ partial "esbuild" (dict "src" "js/assets.js") -}}

{{ if eq .Type "contact" }}
{{ partial "esbuild" (dict "src" "js/contact.js") -}}
{{ end }}

{{/*
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"></script> */}}



{{- if .Site.GoogleAnalytics -}}
{{ template "_internal/google_analytics.html" . }}
{{- end -}}
<!-- Google Tag Manager -->

<script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':

        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],

      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

  })(window, document, 'script', 'dataLayer', 'GTM-TM367T4');</script>

<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TM367T4" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->