{{ define "main" }}
<div class="container-fluid">
  <div class="row hero pb-5">
    <div class="col-md-6 bg-dark d-flex align-items-center justify-content-center">
      <h1 class="text-light my-5">{{ .Site.Title | upper }}</h1>
    </div>
    <div class="col-md-6 g-0">
      {{- $heroImg := .Resources.GetMatch "hero.jpg" -}}
      <img class="img-fluid" src="{{ $heroImg.RelPermalink }}" alt="{{ .Site.Title }}" title="{{ .Site.Title }}">
    </div>
  </div>

  <div class="row row-cols-2 row-cols-md-4 services mb-3">
    {{ range sort site.Taxonomies.categories "Page.Params.weight" }}
    {{ with .Page }}
    {{ $ctx := .}}
    <div class="col">
      <div class="card h-100">
        <div class="card-img">
          {{ with .Page }}
          {{ if .Params.images }}
          {{- $serviceImg := .Resources.GetMatch (index .Params.images 0) -}}
          <img class="img-fluid" src="{{ $serviceImg.RelPermalink }}" alt="{{ $ctx.Name }}" title="{{ $ctx.Name }}">
          {{ end }}
          {{ end }}

        </div>
        <div class="card-body">
          <h2 class="card-title h4">
            <a class="text-decoration-none stretched-link" href="{{ .RelPermalink }}">{{ .Name }}</a>
          </h2>
          <div class="card-text">{{ .Page.Summary }}</div>
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>





  <!-- {{- .Content -}} -->

</div>









<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}