<div class="card bg-transparent shadow h-100">
  {{ with .Params.images }}
  <a href="{{ $.Permalink }}">
    {{ $img := $.Resources.GetMatch (index . 0) }}
    {{ partial "image" (dict "src" $img "page" $ "title" $.Title "class" "card-img-top" 
    "widths" (slice 260 540) "fillRatio" (slice 6 4) )}}
  </a>
  {{ end }}
  <div class="card-body d-flex flex-column">
    <a href="{{ .Permalink }}" class="text-decoration-none stretched-link">
      <h5 class="card-title">{{ .Title  }}</h5>
    </a>
    {{/*  <p class="card-text">{{ .Summary }}</p>  */}}
    <p class="card-text fw-bold mt-auto">${{ .Params.price }}</p>
  </div>
</div>