{{ define "main" }}
<div class="row">
  <div class="col">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      {{ $count := 0 }}
      {{ range $key, $taxo := sort site.Taxonomies.categories "Page.Params.weight" }}
      <li class="nav-item" role="presentation">
        <button class="nav-link {{ if eq $key 0 }}active{{ end }}" id="nav-{{- $key -}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{- $key -}}" type="button" role="tab" aria-controls="nav-{{- $key -}}" aria-selected="{{ if eq $count 0 }}true{{ else }}false{{ end }}">{{ .Page.Title }}</button>
      </li>
      {{ $count = add $count 1 }}
      {{ end }}
    </ul>
    <div class="tab-content" id="myTabContent">
      {{ $countContent := 0 }}
      {{ range  $key, $taxo := sort site.Taxonomies.categories "Page.Params.weight" }}
        <div class="tab-pane fade {{ if eq $countContent 0 }} show active{{ end }}" id="nav-{{- $key -}}" role="tabpanel" aria-labelledby="nav-{{- $key -}}-tab">
        {{ range .Pages }}  
          {{ if .Params.prices }}
            <h3>{{ .Page.Title }}</h3>
            <div class="col-md-6 ms-3">
              {{ range .Page.Params.prices }}
              {{  with .price }}
              <div class="row">
                <div class="col-9">
                  {{ .text }}
                </div>
                <div class="col-3 d-flex">
                  {{ $amount := "" }}
                  {{ if eq (printf "%T" .amount) "int" }}
                    {{ $amount = printf "$%.2f" (float .amount) }}
                  {{ else if eq (printf "%T" .amount) "string"}}
                    {{ $amount = .amount }}
                  {{ end }}
                  <span class="ms-auto">{{  $amount }}</span>
                </div>
              </div>
              {{ end }}
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
        </div>
        {{ $countContent = add $count 1 }}    
      {{ end }}
    </div>
  </div>
</div>
{{ end }}